*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.container{
    height: 400px;
    border: 2px solid green;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 150px;
}

.box{
    border: 1px solid brown;
    background-color: aqua;
    width: 200px;
}

#box1{
    order: 1;
}